body {
    background-color: #e4e4e4
}

.middlestrip {
    background-color: #e4e4e4
}

.section-configurator {
    z-index: 5;
    background-color: var(--background-dark);
    border-top-left-radius: var(--global-border-rad);
    border-top-right-radius: var(--global-border-rad);
    padding-top: var(--global-padding);
}
.configurator-wrapper {
    width: 100vw;
    margin-top: 20vh;
}

iframe {
    width: 100vw;
    height: 100vh;
}
