@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral:wght@300&display=swap');

/* GLOBAL STYLES */
:root {
    --background-dark: #1a1a1a;
    --background-dark-transparent: #1a1a1ad8;
    --background-medium: #2D2D2D;
    --background-offwhite: #e6e6e6;
    --primary-content: #ffffff;
    --secondary-content: #aaaaaa; 
    --tetriary-content: #3a38d3; 
    --global-border-rad: 6vh;
    --global-padding: 8vw;
}
html {
    margin: 0;
    padding: 0;
    background-color: var(--background-dark);
}
body { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Spectral;
}
h1 {
    margin: 0;
    padding: 0;
    color: var(--secondary-content);
    font-size: 6vh;
    font-family: Montserrat;
    font-weight: 500;
}



/* MENU STYLES */
.menu-wrapper {
    position: fixed;
    top: 0;
    background-color: #ffffff00;
    height: 8%;
    width: 100%;
    transition: 1s;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: Montserrat;
}
.menu-wrapper > a {
    color: var(--secondary-content);
    
}

.menu-wrapper:hover {
    background-color: var(--background-dark-transparent);
    transition: 0.5s;
}
.menu-wrapper:hover > a {
    color: var(--primary-content);
    transition: 0.5s;
}


.menu-links {
    width: 100%;
    height: 6%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-element {
    font-size: 1.3vw;
    text-align: center;
    font-weight: 300;
    margin-left: 3.5vw;
    text-decoration: none;
}
.ebalin-menu-logo {
    font-size: 2.3vw;
    text-align: center;
    font-weight: 300;
    margin-right: 5rem;
    text-decoration: none;
}

/* VIDEO SECTION */
.section-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.video-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.section-intro {
    z-index: 5;
    background-color: var(--background-dark);
    color: var(--primary-content);
    border-top-left-radius: var(--global-border-rad);
    border-top-right-radius: var(--global-border-rad);
    padding: var(--global-padding);
}
.intro-wrapper{
    display:flex;
    flex-direction:column;
    align-items: center; 
}

.paragraph_bottom {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.data-paragraph {
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.ebalin-ad {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


.horizontal-strip {
    width: 100%;
    height: 300px;
    background-color: #111111;
    color: #e6e6e6;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}


.data-wrapper {
    display:flex;
    flex-direction: row;
}

.ebalin-data-photo > img {
    border-top-right-radius: var(--global-border-rad);
    border-bottom-right-radius: var(--global-border-rad);
    width: 70vw;
}
.ebalin-data-text {
    color: var(--primary-content);
    padding-right: var(--global-padding);
    padding-left: 5vw;
    font-size: 2.2vw;
    font-family: Montserrat;
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(300px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 .ebalin-data-text > p {
    animation: fadeInRight 1s ease-in-out;
 }

.ebalin-data-detail {
    font-size: 1.2vw;
    color: var(--secondary-content);
    margin-top: -4vh;
    margin-bottom: 5vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
