---
import Menu from "../components/Menu.astro"
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./about.css">
    <title>About</title>
</head>
<body>
    <Menu />
    <section class="section-video">
        <div class='video-container'>
            <video autoplay muted loop id="myVideo">
                <source src="assets/video/droneaerial.mp4" type="video/mp4">
            </video>
        </div>

    </section>
    <section class= "section-intro">
        <div class= "intro-wrapper">
            <h1>About the team</h1>
        </div>
        <div id="googlemaps">
        </div>
        <script>// Initialize and add the map
            function initMap() {
            // The location of Uluru
            const location = { lat: 46.72545084568655, lng: 17.517267140340625 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("googlemaps"), {
                zoom: 9,
                center: location,
                disableDefaultUI: true,
                mapId: '47618db1979438ce'
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: location,
                map: map,
            });
            }
        </script>
    </section>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIo2QB61MPDVZf2RfGQxKGdeSs9gmWy34&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>

</html>