<section class="section-video">
			<div class='video-container'>
				<iframe autoplay muted loop id="myVideo">
					<source src="assets/video/animFinalLowRes.mp4" type="video/mp4">
				</iframe>
			</div>
</section>

<style> 
    .section-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.video-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
}

</style>